body {
	background-color: #46DBE1;
}
.poabaro-wrap {
	position: relative;
	width: 100%;
}
.poabaroback1 {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	max-width: 100%;
	width: auto;
	height: auto;
}
.poabaroback2 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	width: auto;
}

.ghoshona {
	color: #fff;
	margin-bottom: 30px;
}

.regform {
	text-align: center;
	padding: 30px;
	border: 2px dashed #fff;
	border-radius: 10px;
	margin-bottom: 30px;
}