

body {
	font-family: "Lato",Helvetica,sans-serif;
}




.item-masonry img {
	width: 190px;
  	margin: 10px;
  	display: block;
  	float: left;
}



.categorized-product {
	background: #fff;
  margin-top: 25px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

h4.categorized-product-heading {
	background: none repeat scroll 0% 0% #FFF;
	border-bottom: 1px dashed rgb(194, 194, 194);
	/*padding-bottom: 10px;*/
  padding-left: 15px;
  line-height: 45px;
}


.item-masonry a {

}

.no-left-rightr-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.mt20 {
	margin-top: 20px;
}



.product-title {
	font-size: 16px;
  height: 24px;
  width: 100%;
  overflow: hidden;
  padding: 0 5px;
  font-size: 16px;
  color: #333;
}

.product-info {
	padding-bottom: 10px;
}

.grid {
	transition: all ease-out 1s;
	min-height: 500px;
}

.grid-item {
	/*margin-bottom: 15px;*/
}

.product-box {
	background-color: #fff;
    text-align: center;
    /*padding-bottom: 15px;*/
    margin-bottom: 20px;
}


.product-box {
	transition: all 0.3s ease 0s;
    display: block;
    height: 100%;
    border: 1px solid #eee;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    /* border-radius: 4px; */
    /* box-shadow: 0px 1px 1px rgba(0,0,0,0.1); */
}

.product-box img {
  padding: 10px;
  max-height: 180px;
  display: block;
  margin: 0 auto;
}
.product-box .image-box {

  height: 180px;

}

.product-box:hover {
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
}


footer {
	background: #1B2224 !important;
}


.product-cart-button {
	/*padding: 5px;*/
}


.product-cart-button a.button {
    border: 1px dashed #fff;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    padding: 0 5px;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: none;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    font-family: "Lato",Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    width: 100%;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: #46DBE1;
}

.product-cart-button a.button:hover {
	/*box-shadow: 0px 2px 4px rgba(0,0,0,0.2);*/
    border: 1px dashed #fff;
	color: #fff;
  background-color: #FF6D37;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}






/* ----------------------------
24.2 Shop-page-filter-price
------------------------------*/
.filter-price {
  overflow: hidden;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 13px -3px #808080;
  padding: 25px 15px;
  margin-top: 30px;
}

.filter-price h3.sidebar-title {
	/*padding-top: 5px;*/
	margin-top: -5px;
	padding-bottom: 10px;
}

.ui-widget-header {
  background: #009587 none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  height: 10px;
}
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: #e5e5e5 none repeat scroll 0 0;
  border-radius: 8px;
  box-shadow: none;
  margin: 0 0 30px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #fff none repeat scroll 0 0;
  border: 3px solid #009587;
  border-radius: 100%;
  box-shadow: none;
  height: 18px;
  transition: none 0s ease 0s ;
  width: 18px;
  margin-left: -10px;
}
.filter-price a, .compare .compare-button{
  border: 1px solid #e5e5e5;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 39px;
  line-height: 37px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  background: #337AB7;
}
.filter-price a:hover,.compare .compare-button:hover{
  background: #009587 none repeat scroll 0 0;
  border-color: #009587;
  color: #fff;
  text-shadow: none;
}
.filter-price p {
  float: right;
  margin: 0;
  width: 69%;
  text-align: right;
}
.filter-price input {
  border: 0 none;
  font-size: 12px;
  line-height: 36px;
  text-align: left;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}
.compare a.compare-button{
  float: right;
  display: block;
}
.compare p {
  margin: 0 0 20px;
}


.ui-slider-horizontal .ui-slider-range {
    top: 0px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0px none;
    /*background: none repeat scroll 0px 0px #FF6B6B;*/
    background: none repeat scroll 0px 0px #009587;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 1em;
}
.ui-widget-header {
    background: none repeat scroll 0px 0px #009587;
    border: medium none;
    box-shadow: none;
    height: 10px;
}

.sidebar_container {
  margin-bottom: 30px;
}